{% extends 'base.html.twig' %}

{% block title 'Demo' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Save</button>
    {{ form_start(form) }}
{% endblock %}
